.active {
  color: green;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.show-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.show-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
}
.show-card img {
  object-fit: contain;
  width: 50%;
  height: 70%;
}
.show-title-link {
  color: black;
}
